<% provide(:title, "Top") %>
<div class="center jumbotron">
  <h1>Ken_app</h1>
  <p>このアプリケーションでは、剣道の稽古会を自ら開催することができます。</p>
</div>
<div>
  <h2>稽古会</h2>
  <h2><%= link_to "新規作成",  new_event_path, method: :get %></h2>
  <div class="container">
    <div class="row">
      <% @events.each do |event| %>
        <div class="col-sm-3">
          <p><%= link_to event.place, event_path(event.id) %>の稽古会</p>
          <p><%= event.event_day %></p>
          <p><%= event.start_time %></p>
          <p><%= event.finish_time %></p>
        </div>
      <% end %>
    </div>
  </div>
</div>
<div id="div">
  <h2>情報</h2>
  <h2><%= link_to "新規作成", new_information_path, method: :get %></h2>
  <div class="container">
    <div class="row">
      <% @informations.each do |information| %>
        <div class="col-sm-3">
          <p><%= link_to information.title, information_path(information.id) %></p>
          <p><%= information.body %></p>
          <p>更新:<%= information.updated_at %></p>
        </div>
      <% end %>
    </div>
  </div>
</div>
<div id="header">
  <h2>ユーザー日記更新</h2>
  <div class="container">
    <div class="row">
      <% @users.each do |user| %>
        <div class="col-sm-3">
          <p><%= link_to user.id, user_path(user.id) %></p>
          <p><%= user.user_name %></p>
          <p>更新:<%= user.updated_at %></p>
        </div>
      <% end %>
    </div>
  </div>
</div>