<% provide(:title, "Top") %>
<div class="center jumbotron">
  <h1>Ken_app</h1>
  <p>このアプリケーションでは、登録されたユーザーの勤怠情報を閲覧・登録・編集することができます。</p>
</div>
<div>
  <h2>稽古会</h2>
  <h2><%= link_to "新規作成",  new_event_path, method: :get %></h2>
  <% @events.each do |event| %>
    <p><%= event.place %>の稽古会</p>
    <p><%= event.event_day %></p>
    <p><%= event.start_time %></p>
    <p><%= event.finish_time %></p>
  <% end %>
</div>
<div id="div">
  <h2>情報</h2>
  <h2><%= link_to "新規作成",  "#", method: :get %></h2>
  <% @events.each do |event| %>
    <p><%= event.place %>の稽古会</p>
    <p><%= event.event_day %></p>
    <p><%= event.start_time %></p>
    <p><%= event.finish_time %></p>
  <% end %>
</div>
<div id="header">
  <h2>ユーザー日記更新</h2>
</div>