<% provide(:title, "Users") %>
<div id="main-content">
  <main>
    <section class="manylist">
      <div>
        <h2 class="main-title center">ユーザー一覧</h2>
      </div>
      <div class = "mainlist__contain">
        <%= will_paginate %>
        <table class="table table-striped">
          <thead>
            <tr>
              <th><%= User.human_attribute_name :id %></th>
              <th><%= User.human_attribute_name :user_name %></th>
              <th></th>
            </tr>
          </thead>
          <tbody>
            <% @users.each do |user| %>
              <tr>
                <td><%= user.id %></td>
                <td><%= link_to user.user_name, user %></td>
                <td>
                  <% if current_user.admin? %>
                    <% if current_user != user %>
                      <%= link_to user, method: :delete, data: { confirm: "削除してよろしいですか？" } do %>
                      <span class = "red">削除</span>
                      <% end %>
                    <% end %>
                  <% end %>
                </td>
              </tr>
            <% end %>
          </tbody>
        </table>
        <%= will_paginate %>
      </div>
    </section>
  </main>
</div>
