<% provide(:title, @user.user_name) %>
<div id="main-content">
  <main>
    <section class="profile">
      <div class="profile__head">
        <div class="profile__img">
          <% if @user.profile.avatar.nil? %>                                                              
            <%= image_tag @user.profile.avatar.url %>
          <% else %>
            <%= image_tag "/assets/default.png", class: 'avatar-img big-img' %>
          <% end %>
        </div>

        <div class="profile__detail">
          <p><%= @user.user_name %></p>
          <p><%= @user.user_name %></p>
          <p><%= @user.user_name %></p>
          <p><%= @user.user_name %></p>
        </div>
        <div class="profile__menu">
          <% if @user == current_user %>
            <%= link_to edit_user_profile_path(@user.id) do %>
              <button class="btn filled">プロフィール編集</button>
            <% end %>
            <%= link_to user_records_path(@user) do %>
              <button class="btn filled">稽古日記</button>
            <% end %>
          <% else %>
            <%= link_to user_records_path(@user) do %>
              <button class="btn filled">稽古日記</button>
            <% end %>
          <% end %>
        </div>
        <div class="profile__followers">

          <div class="tab-area">
            <div class="tab active">
              フォロー
            </div>
            <div class="tab">
              フォロワー
            </div>
            <div class="tab">
              お気入り情報
            </div>
          </div>
          <div class="content-area">
            <div class="content show">
              タブ１の中身です
            </div>
            <div class="content">
              タブ２の中身です
            </div>
            <div class="content">
              タブ３の中身です
            </div>
          </div>

        <div>
          <h2 class="main-title">主催予定の稽古会</h2>
        </div>
        <div>
          <h2 class="main-title">参加予定の稽古会</h2>
        </div>
    </section>
  </main>


<script>
  $(function() {
    let tabs = $(".tab"); // tabのクラスを全て取得し、変数tabsに配列で定義
    $(".tab").on("click", function() { // tabをクリックしたらイベント発火
      $(".active").removeClass("active"); // activeクラスを消す
      $(this).addClass("active"); // クリックした箇所にactiveクラスを追加
      const index = tabs.index(this); // クリックした箇所がタブの何番目か判定し、定数indexとして定義
      $(".content").removeClass("show").eq(index).addClass("show"); // showクラスを消して、contentクラスのindex番目にshowクラスを追加
    })
  })
</script>

