<%= form_with model: [@user, @record], local: true do |f| %>
  <%= render 'shared/error_messages', object: @record %>
  <div class="record-form">
    <div>
      <%= f.label :start_time, class: "label-form" %><br>
      <% if @record.start_time.present? %>
        <%= f.date_field :start_time %>
      <% else %>
        <%= f.date_field :start_time, value: Date.today%>
      <% end %>
    </div>
    <div>
      <%= f.label :title, class: "label-form" %>
      <%= f.text_field :title, class: "form-control" %>

      <%= f.label :content, class: "label-form" %>
      <%= f.text_area :content, class: "form-control" %>

      <%= f.hidden_field :practice, :value => false %>
      <%= f.check_box :practice, {} ,true, false %>
      <%= f.label :practice, "稽古しました！" %>
    </div>
  </div>
  <div class = "new_edit__btn">
    <% if request.path_info.include?("edit") %>
      <%= f.submit "編集する", class: 'btn' %>
    <% else %>
      <%= f.submit "記録する", class: 'btn' %>
    <% end %>
  </div>
  <div class = "new_edit__btn">
    <%= link_to 'キャンセル', :back ,class: 'btn' %>
  </div>
<% end %>
