<% provide(:title, "稽古日記カレンダー") %>
  <h1>稽古日記カレンダー</h1>
<div class="record__contain">
  <div class='record__input'>
    <% if current_user == @user %>
      <%= link_to '稽古日記を入力',new_user_record_path(@user),class: 'btn-default btn-lg blue-btn'%>
    <% end %>
  </div>

  <div class="record__main">
    <%= month_calendar events: @records do |date, records| %>
      <%= date.day %>

      <% records.each do |record| %>
        <div>
          <%= link_to user_record_path(user_id: @user, id: record.id) do %>
            <p class='calendar-main-target'><%= record.title %></p>
            <% if record.practice == true %>
              <div class="record__img">
                 <i class="fas fa-check-circle fa-3x"></i>             
              </div>
            <% end %>
          <% end %>
        </div>
      <% end %>
    <% end %>
  </div>

  <div class="record__comment">
    <p>今月の稽古回数 <span><%= @this_month_count %></span> 回</p>
    <p>今年の稽古回数 <span><%= @this_year_count %></span> 回</p>
  </div>
</div>