<% provide(:title, "稽古日記カレンダー") %>
<div id="main-content">
  <main>
    <section class="calender">
      <div>
        <h2 class="main-title center">稽古日記カレンダー&nbsp<i class="fas fa-book-open"></i></h2>
      </div>
      <div class="calender__contain">
        <div class="calender__main">
          <%= month_calendar events: @records do |date, records| %>
            <%= date.day %>
            <% records.each do |record| %>
              <div>
                <%= link_to user_record_path(user_id: @user, id: record.id), data: {"turbolinks" => false} do %>
                  <% if record.title.present? %>
                    <div class="calender__comment">
                      <span><%= record.title %></span>             
                    </div>
                    <div class="calender__img">
                      <i class="fas fa-calendar-check blue"></i>
                    </div>
                  <% end %>
                  <% if record.practice == true %>
                    <div class="calender__img">
                      <i class="fas fa-check-circle blue"></i>             
                    </div>
                  <% end %>
                <% end %> 
              </div>
            <% end %>
          <% end %>
        </div>
        <div class="calender__explain">
          <span><i class="fas fa-calendar-check blue"></i>:日記OK  <i class="fas fa-check-circle blue"></i>:稽古OK<span>
        </div>
        <div class="calender__title">
          <p>今月の稽古回数 <span class = "blue"><%= @this_month_count %> 回</span></p>
          <p>今年の稽古回数 <span class = "blue"><%= @this_year_count %> 回</span></p>
        </div>
        <div class='calender__btn'>
          <% if current_user == @user %>
            <%= link_to '稽古日記を入力',new_user_record_path(@user), data: {"turbolinks" => false}, class: "btn"%>
          <% end %>
            <%= link_to "戻る", :back, data: {"turbolinks" => false}, class: 'btn' %>
        </div>
      </div>
    </section>
  </main>
</div>
