<% provide(:title, "稽古日記") %>
<div id="main-content">
  <main>
    <section class="calender-show">
      <div>
        <h2 class="main-title center"><%= l @record.start_time, format: :middle %>の日記</h2>
      </div>
      <div class="calender-show__contain">
        <div class="calender-show__subtitle">
          <p>タイトル</p>
          <span><%= @record.title %></span>
        </div>
        <div class="calender-show__subtitle">
          <p>内容</p>
          <span><%= @record.content %></span>
        </div>
        <div class="calender-show__btn">
          <% if @user == current_user %>
            <%= link_to edit_user_record_path(user_id: @user, id: @record.id), method: :get, class: "btn btn-primary" do %>
              編集
            <% end %>
            <%= link_to user_record_path(user_id: @user, id: @record.id), method: :delete,data: { confirm: "日記を削除しますか？" }, class: "btn btn-danger" do %>
              削除
            <% end %>
          <% end %>
        </div>
        <div class="calender-show__btn">
          <%= link_to user_records_path(user_id: @user), class: "btn" do %>
            カレンダー
          <% end %>
        </div>
      </div>
    </section>
  </main>
</div>
