<% provide(:title, "稽古会一覧") %>
<h1>稽古会一覧</h1>

<div class="col-md-10 col-md-offset-1">
  <%= will_paginate %>
  <table class="table table-condensed table-hover" id="table-main">
    <thead>
      <tr>
        <th>イベント</th>
        <th></th>
      </tr>
    </thead>

    <% @events.each do |event| %>
      <tr>
        <td><%= link_to event.event_day, event %></td>
        <td><%= event.place %></td>
        <td>
          <% if current_user.admin? %>
            <%= link_to "削除", event_path(event.id), method: :delete,
                data: { confirm: "削除してよろしいですか？" },
                class: "btn btn-danger" %>
          <% end %>
        </td>
      </tr>
    <% end %>
  </table>
  <%= will_paginate %>
</div>