<% provide(:title, "稽古会一覧") %>
<div id="main-content">
  <main>
    <section class="manylist">
      <div>
        <h2 class="main-title center">稽古会一覧</h2>
      </div>
      <div class = "mainlist__contain">
        <%= will_paginate %>
        <table class="table table-striped">
          <thead>
            <tr>
              <th><%= Event.human_attribute_name :id %></th>
              <th><%= Event.human_attribute_name :event_day %></th>
              <th><%= Event.human_attribute_name :place %></th>
              <th></th>
            </tr>
          </thead>
          <tbody>
            <% @events.each do |event| %>
              <tr>
                <td><%= event.id %></td>
                <td>
                  <%= link_to event, data: {"turbolinks" => false} do %>
                  <span><%= l event.event_day, format: :middle %></span>
                  <% end %>
                </td>
                <td><%= link_to event.place, event, data: {"turbolinks" => false} %></td>
                <td>
                  <% if current_user.admin? %>
                    <%= link_to event_path(event.id), method: :delete, data: { confirm: "削除してよろしいですか？" } do %>
                    <span class = "red">削除</span>
                    <% end %>
                  <% end %>
                </td>
              </tr>
            <% end %>
          </tbody>
        </table>
        <%= will_paginate %>
      </div>
    </section>
  </main>
</div>
