<% provide(:title, "稽古会") %>
<h1><%= @event.place %>の稽古会</h1>

<div class="event-show">
  <div class="event-map">
  </div>
  <div class="event-information-list">
    <p><%= @event.event_day %></p>
    <p><%= @event.start_time %></p>
    <p><%= @event.finish_time %></p>
  </div>
  <div class="event-confirmation">
    <%= link_to '参加しますか？', 
      event_members_path(@event),
      method: :post,
      data: { confirm: "このイベントに参加しますか？" },
      class: "btn btn-primary" %>
    <%= link_to '参加取りやめ',
      event_member_path(@event),
      method: :delete,
      data: { confirm: "このイベントを参加取りやめますか？" },
      class: "btn btn-danger" %>
  </div>
  <div class="event-comment">
    <%= form_with(model:[@event, @comment]) do |f| %>
      <p>
        <%= f.label :body,"コメント" %>
        <%= f.text_field :body %>
      </p>
      <%= f.submit %>
    <% end %>
    <% @comments.each do |comment| %>
      <hr>
      <p>
        <span><%= comment.user.profile.name %>: </span>
        <%= comment.body %>
        <% if comment.user == current_user %>
          <%= link_to "削除", event_comment_path(@event.id, comment.id), method: :delete,
                  data: { confirm: "削除してよろしいですか？" },
                  class: "btn btn-danger" %>
        <% end %>
      </p>
    <% end %>
  </div>
</div>
