<% provide(:title, '新規作成') %>
<% provide(:button_text, '新規作成') %>
<div id="main-content">
  <main>
    <section class="new_edit">
      <div>
        <h2 class="main-title center">情報新規作成</h2>
      </div>
      <div class = "new_edit__form">
        <%= form_with(model: @information, url: informations_path, local: true )do |f| %>
          <%= render 'shared/error_messages', object: @information %>

          <%= f.label :title, class: "label-form" %>
          <%= f.text_field :title, class: "form-control", placeholder: "例)大会結果！"%>

          <%= f.label :body, class: "label-form" %>
          <%= f.text_field :body, class: "form-control", placeholder: "例)〇〇さんが優勝しました。" %>

          <%= f.label :limited, class: "label-form" %>
          <%= f.date_field :limited, class: "form-control" %>

          <%= f.label :youtube_url, class: "label-form" %>
          <%= f.text_field :youtube_url, class: "form-control", placeholder: "例)https://youtu.be/ryoPhY11Ntw" %>

          <%= f.hidden_field :user_id, :value => current_user.id %>
          <div class = "new_edit__btn">
            <%= f.submit yield(:button_text), class: "btn" %>
          </div>
        <% end %>
        <div class = "new_edit__btn">
          <%= link_to "戻る", :back, data: {"turbolinks" => false}, class: "btn" %>
        </div>
      </div>
    </section>
  </main>
</div>
