<% provide(:title, "情報") %>
<h1><%= @information.title %></h1>

<div class="information-show">
  <div class="information-map">
  </div>
  <div class="information-information-list">
    <p><%= @information.body %></p>
    <p><%= @information.limited %></p>
  </div>
  <div class="information-confirmation">
    <% if user_signed_in? %>
      <% if @information.favorited_by?(current_user) %> <!-- ログインしているユーザーがファボしたかどうかで分岐 -->
          <p><span>お気に入り解除: </span><%=link_to @information.favorites.count, information_favorites_path(@information.id), method: :delete %></p>
      <% else %>
          <p><span>お気に入り登録: </span><%=link_to @information.favorites.count, information_favorites_path(@information.id), method: :post %></p>
      <% end %>
    <% else %>
      <p><span>お気に入り数: </span><%= @information.favorites.count %></p>
    <% end %>
  </div>
  <div class="information-editing">
    <% if @information.user == current_user %>
      <%= link_to "編集", edit_information_path(@information) %>
      <%= link_to "削除", information_path(@information), method: :delete,
                data: { confirm: "削除してよろしいですか？" },
                class: "btn btn-danger" %>
    <% end %>
  </div>
</div>