<nav class="mobile-menu">
  <ul class="mobile-menue__main">
    <% if user_signed_in? %>
      <li class="mobile-menu__item">
        <%= link_to user_path(current_user.id)  do %>
          <span class="main-title"><%= current_user.user_name %></span>
          <span class="sub-title">マイページへ</span>
        <% end %>
      </li>
      <% if current_user.admin? %>
        <li class="mobile-menu__item">
          <%= link_to root_path  do %>
            <span class="main-title">Top</span>
            <span class="sub-title">トップページへ</span>
          <% end %>
          <%= link_to users_path  do %>
            <span class="main-title">ユーザー一覧</span>
            <span class="sub-title">ユーザーの確認</span>
          <% end %>
          <%= link_to events_path  do %>
            <span class="main-title">稽古会一覧</span>
            <span class="sub-title">稽古会の確認</span>
          <% end %>
          <%= link_to informations_path  do %>
            <span class="main-title">情報一覧</span>
            <span class="sub-title">情報の確認</span>
          <% end %>
          <%= link_to edit_user_registration_path(current_user)  do %>
            <span class="main-title">ユーザー編集</span>
            <span class="sub-title">登録情報を編集できます</span>
          <% end %>
          <%= link_to destroy_user_session_path, method: :delete  do %>
            <span class="main-title">Log out</span>
            <span class="sub-title">ログアウトします</span>
          <% end %>      
        </li>
      <% else %>
        <li class="mobile-menu__item">
          <%= link_to root_path  do %>
            <span class="main-title">Top</span>
            <span class="sub-title">トップページへ</span>
          <% end %>
          <%= link_to edit_user_registration_path(current_user)  do %>
            <span class="main-title">ユーザー編集</span>
            <span class="sub-title">登録情報を編集できます</span>
          <% end %>
          <%= link_to destroy_user_session_path, method: :delete  do %>
            <span class="main-title">Log out</span>
            <span class="sub-title">ログアウトします</span>
          <% end %>      
        </li>
      <% end %>
    <% else %>
      <li class="mobile-menu__item">
        <%= link_to root_path  do %>
          <span class="main-title">Top</span>
          <span class="sub-title">トップページへ</span>
        <% end %>
        <%= link_to new_user_session_path  do %>
          <span class="main-title">Log in</span>
          <span class="sub-title">ログインします</span>
        <% end %>      
      </li>
    <% end %>
  </ul>
</nav>
