<div class="mobile-menu__cover"></div>
<header class="header">
  <div class="header__inner">
    <div class="logo">
      <%= link_to root_path ,data: {"turbolinks" => false} do %>
        <span class = "white">KenApp</span>
      <% end %>
    </div>
    <button class="mobile-menu__btn">
      <span></span>
      <span></span>
      <span></span>
    </button>
  </div>
  <nav class="header__nav">
    <ul class="header__ul">
      <% if user_signed_in? %>
        <li class="header__li"><%= link_to current_user.user_name, user_path(current_user.id)  %></li>
        <%# 管理者ユーザー%>
        <% if current_user.admin? %>
          <li class="header__li"><%= link_to "Top", root_path %></li>
          <li class="header__li"><%= link_to "ユーザー一覧", users_path %></li>
          <li class="header__li"><%= link_to "稽古会一覧", events_path %></li>
          <li class="header__li"><%= link_to "情報一覧", informations_path %></li>
          <li class="header__li"><%= link_to "ユーザー編集", edit_user_registration_path(current_user) %></li>
          <li class="header__li"><%= link_to "Log out", destroy_user_session_path, method: :delete  %></li>
        <%# ログインユーザー%>  
        <% else %>
          <li class="header__li"><%= link_to "Top", root_path %></li>
          <li class="header__li"><%= link_to "ユーザー編集", edit_user_registration_path(current_user) %></li>
          <li class="header__li"><%= link_to "Log out", destroy_user_session_path, method: :delete  %></li>
        <% end %>
      <%# 未ログインユーザー%>    
      <% else %>
        <li class="header__li"><%= link_to "Top", root_path %></li>
        <li class="header__li"><%= link_to "Log in", new_user_session_path %></li>
      <% end %>
    </ul>
  </nav>
</header>
