<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title><%= full_title(yield(:title)) %></title>
    <%= favicon_link_tag('logo.svg') %>
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Kameron:wght@400;700&family=Noto+Sans+JP&display=swap" rel="stylesheet">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <meta name="description" content="This site is a test site.">

    <%= stylesheet_link_tag 'application', media: 'all' %>
    <%= javascript_pack_tag 'application' %>
    <%= render 'layouts/shim' %>
  </head>

  <body>
    <div id="global-container">
      <div id="container">
        <%= render 'layouts/header1' %>
        <div class="containers">
          <% flash.each do |message_type, msg| %>
              <div class="alert alert-<%= message_type %>"><%= msg %></div>
          <% end %>
          <%= yield %>
          <%= debug(params) if Rails.env.development? %>
        </div>
        <%= render 'layouts/footer' %> 
      </div>
      <%= render 'layouts/header2' %>
    </div>
  </body>
</html>
